<template>
  <div id="app">
    <div class="container">
      <div class="menu">
        <button class="menu-item" @click="scrollToFirst">Первая</button>
        <input v-model="inputValue" :style="{ width: inputWidth }" type="text">
        <button class="menu-item" @click="scrollToIndex">Перейти</button>
        <button class="menu-item" @click="scrollToLast">Последняя</button>
      </div>
      <div class="content">
        <div v-for="(item, index) in items" :key="index">{{ item }}</div>
      </div>
    </div>
  </div>
</template>

<script>
class Storage {
  constructor() {
    this.items = [];
  }

  init() {
    setTimeout(() => {
      for (let i = 0; i < 500; i++) {
        this.items.push(Math.random().toString(36).substring(7));
      }
      setTimeout(() => {
        // Finish the initialization
      }, 1000);
    }, 1000);
  }

  get() {
    return this.items;
  }
}
  export default {
    name: 'app',
    data() {
      return {
        storage: new Storage(),
        inputValue: '',
        inputWidth: '100%',
      };
    },
    methods: {
      scrollToFirst() {
        window.scrollTo({top: 0, behavior: 'smooth'}); // Это свойство может не поддерживаться в некоторых старых браузерах
      },
      scrollToIndex() {
        const index = parseInt(this.inputValue);
        if (!isNaN(index) && index >= 0 && index < this.storage.get().length) {
          const element = document.querySelector(`.content div:nth-child(${index + 1})`);
          if (element) {
            element.scrollIntoView({behavior: 'smooth'});
          }
        }
      },
      scrollToLast() {
        const elements = document.querySelectorAll('.content div');
        const lastElement = elements[elements.length - 1];
        if (lastElement) {
          lastElement.scrollIntoView({behavior: 'smooth', block: 'end'});
        }
      },
      handleResize() {
        if (window.innerWidth <= 575) {
          this.inputWidth = '100%';
        } else {
          this.inputWidth = 'auto';
        }
      },
    },
    mounted() {
      this.storage.init();
      window.addEventListener('resize', this.handleResize);
      this.handleResize();
    },
    computed: {
      items() {
        return this.storage.get();
      },
    }
  }
</script>

<style>
body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
}

.menu-item {
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
